# Test pandas_cub manually

In this notebook, we will test pandas_cub manually.

In [39]:
import time
import sys
sys.executable

'c:\\users\\user\\appdata\\local\\programs\\python\\python37\\python.exe'

In [40]:
%load_ext autoreload
%autoreload 2

The autoreload extension is already loaded. To reload it, use:
  %reload_ext autoreload

In [41]:
import numpy as np
import pandas_cub as pdc
import pandas_cub_final as pdcf
import pandas as pd

In [42]:
name = np.array(['Penelope', 'Niko', 'Eleni'])
state = np.array(['Texas', 'California', 'Texas'])
height = np.array([3.6, 3.5, 5.2])
school = np.array([True, False, True])
weight = np.array([45, 40, 130])

data = {'name': name, 'state': state, 'height': height, 
        'school': school, 'weight': weight}

df = pdc.DataFrame(data)
df_final = pdcf.DataFrame(data)
df_pandas = pd.DataFrame(data)

In [50]:
df
len(df)

3

In [44]:
df_final

In [45]:
df_pandas

       name       state  height  school  weight
0  Penelope       Texas     3.6    True      45
1      Niko  California     3.5   False      40
2     Eleni       Texas     5.2    True     130

In [46]:
arr = np.array([1,10,9])
arr1 = np.array([1,2, 3])
data = {'name':arr1, 'height':arr}

In [47]:
arr

array([ 1, 10,  9])

In [48]:
t0 = time.time()
pdc.DataFrame(data)
t1 = time.time()

total = t1-t0
print(total)

0.0010001659393310547

In [49]:
0.0010008811950683594

0.0010008811950683594